body{
  background-color: #f9fafc;
  }

p {
  font-family: "Open Sans", Helvetica, serif;
  Font-weight: 800;
  border-left: 2px solid #69696a;
  padding-left: 10px;
  }

h1{
  font-family: "Open Sans", Helvetica, serif;
  Font-weight: 800;
  }

nav {font-family: "Open Sans", Helvetica, serif;
     Font-weight: 800;
     display: block;
     }

.chirpus-logo{
         font-family:"Open Sans", Helvetica, serif;
         font-weight: 800;
       }

a{ display: block;
       color: grey;
       text-decoration: none;
       }

.bold-button{
          background-color: black;
          border-radius: 19px;
          padding: 10px 13px;
          text-align: center;

        }



footer{font-family: "Open Sans", Helvetica, serif;
                 font-weight: 800;
}

@media screen and (min-width:768px){

.circle1 {
              background-color:rgba(247,136,167,0.6);
              width: 350px;
              height: 350px;
              border-radius: 100%;
              position: absolute;
              right: 120px;
              top: 80px;
            }

.circle2 {
            background-color:rgba(207,130,213,0.6);
            width: 165px;
            height: 165px;
            border-radius: 100%;
            position: absolute;
            right:15px;
            top: 105px;
          }

.circle3 {
              background-color:rgba(247, 193, 162, 0.7);
              width: 250px;
              height: 250px;
              border-radius: 100%;
              position: absolute;
              top: 230px;
              right: 1px;}

.bold-button{
              background-color: black;
              border-radius: 19px;
              padding: 10px 13px;
              text-align: center;
              width: 100px;
              color:white;
                            }

.scroll-button {
  margin: 0 auto;
  display: block;
  color: white;
}
p {
   font-family: "Open Sans", Helvetica, serif;
   Font-weight: 800;
   border-left: 2px solid #69696a;
   padding-left: 10px;
 }

.both{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.para {
  width: 40%;
  text-align: left;
}
.shapes {
  width: 40%;
  }

nav {font-family: "Open Sans", Helvetica, serif;
       Font-weight: 800;
       float: right;
       }
a{ display: block;
   color: grey;
  text-decoration: none;
   display: inline;
 }

}
